<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="SFR"/>
            <dependentAssembly>
                <assemblyIdentity name="Superfighters Deluxe" publicKeyToken="b7212d0512a3740a" culture="neutral"/>
                <bindingRedirect oldVersion="1.0.8107.30539" newVersion="1.0.0.0"/>
                <codeBase version="1.0.0.0" href="SFR/Core.dll"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
