<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Lib.Harmony" version="2.3.0-prerelease.2" targetFramework="net472"/>
    <package id="Mono.Cecil" version="0.11.5" targetFramework="net472"/>
    <package id="MonoMod.Backports" version="1.0.1" targetFramework="net472"/>
    <package id="MonoMod.Core" version="1.0.1" targetFramework="net472"/>
    <package id="MonoMod.ILHelpers" version="1.0.0" targetFramework="net472"/>
    <package id="MonoMod.Utils" version="25.0.3" targetFramework="net472"/>
</packages>